################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApProject.vcxproj
/ApProject.vcxproj.filters
/ApProject.vcxproj.user
/debug
/release
/ApProject.pro.user
/MainServer/debug
/MainServer/MainServer.vcxproj
/MainServer/MainServer.vcxproj.filters
/MainServer/MainServer.vcxproj.user
/MainServer/release
/ApProject.pro.user
/MainServer/MainServer.pro.user
.vs
.vs/ApProject
.vs/ApProject/v16/Browse.VC.opendb
